body{
  margin: 15px;
  font-size: 12pt;
  font-family: sans-serif;
}
.citalico{

  text-align: center;
  font-style: italic;
}
.logo{
  background-image: url("../img/image001.jpg") ;
  background-position: center;
  background-repeat:no-repeat;
 background-size:contain;
 height: 50px;
 width: 100%;
 display: block;
}

.despacho{
  padding-top: 60px;
  font-size: 12pt;
  font-family: sans-serif;
  text-align: center;
}

.despacho p{
  font-weight: bold;
}

.texto{
  padding-top: 30px;

  
  text-align: justify;;

}

div table{
  margin:  4px;
  border-spacing:  0px;
  font
}
div table td{
  border: 1px;
  border-color: black;
  border-style: solid;

}
