{% load staticfiles %}
{% load material_form %}
{% load djmoney %}
<html>
<head>
  <!--Import materialize.css-->
  {% include 'material/includes/material_css.html' %}
  <link rel='stylesheet' type='text/css' href='{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}' />
  <title> Coordenação de Pesquisa e Inovaçao </title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">COPEIN/CA</a>
      {% if request.user.is_authenticated %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if request.user.is_superuser %}

        <li>  <a href="{% url 'despachos:servidor' %}" class="top-menu">Servidores</a></li>
        <li>  <a href="{% url 'despachos:projeto' %}" class="top-menu">Projetos</a></li>
        <li>  <a href="{% url 'despachos:bolsista' %}" class="top-menu">Bolsistas</a></li>
        <li>  <a href="{% url 'despachos:despacho_processo' %}" class="top-menu">Despachos</a></li>
        <li>  <a href="{% url 'despachos:planejamento' %}" class="top-menu">Planejamento</a></li>
        <li>  <a href="{% url 'despachos:orcamento' %}" class="top-menu">Orçamento</a></li>
        <li>  <a href="{% url 'despachos:cotacao' %}" class="top-menu">Cotação</a></li>
        {% endif %}

        {% if not request.user.is_superuser %}
        <li>  <a href="#" class="top-menu">Planejamento</a></li>
        {% endif %}

        <li>  <a href="{% url 'despachos:logout' %}" class="top-menu">Logout</a></li>
      </ul>
      {% endif %}
    </div>
  </nav>
  <div class="container"><!--Import jQuery before materialize.js-->
    {% block content %}
    {% endblock %}
  </div>
  {% block footer %}
  <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>

  {% include 'material/includes/material_js.html' %}
  {% endblock %}

  <script>
  $( function() {
    $( ".datepicker" ).datepicker({"dateFormat":"dd/mm/yy"});
    $('.modal').modal();


  } );


  </script>
</body>
</html>
