{% extends 'despachos/base.html' %}
{% block content %}
<table class="responsive-table striped">
   <thead>
     <tr>
         <th data-field="siape">Bolsista</th>
         <th data-field="nome">Projeto</th>
         <th data-field="email">CPF</th>
         <th data-field="email">Valor</th>

         <th data-field="email">Ações</th>

     </tr>
   </thead>
   <tbody>
    {% for u in bolsistas %}
      <tr>
         <td>{{u.nome}}</td>
         <td>{{u.projeto}}</td>
         <td>{{u.cpf}}</td>
         <td>R$ {{u.valor}},00</td>
         <td></td>

         </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if bolsistas.has_previous %}
            <a href="?page={{ bolsistas.previous_page_number }}"> << </a>
        {% endif %}

        <span class="current">
            Página {{ bolsistas.number }} de {{ bolsistas.paginator.num_pages }}.
        </span>

        {% if bolsistas.has_next %}
            <a href="?page={{ bolsistas.next_page_number }}"> >> </a>
        {% endif %}
    </span>
</div>
    <a href="{% url 'despachos:bolsista_new' %}" class="top-menu">Cadastrar Novo Bolsista</a>
{% endblock content %}
