{% extends 'despachos/base.html' %}
{% block content %}
<table class="responsive-table striped">
   <thead>
     <tr>
         <th data-field="siape">Cotacao</th>
         <th data-field="email">Ações</th>

     </tr>
   </thead>
   <tbody>
    {% for u in cotacoes %}
      <tr>
         <td>$1 equivale a {{u.valor}}</td>
         <td>
           <a href="{% url 'despachos:cotacao_edit' pk=u.id %}" class="top-menu">Editar</a>

         </td>

         </tr>
    {% endfor %}
  </tbody>
</table>

    <a href="{% url 'despachos:cotacao_new' %}" class="top-menu">Cadastrar Nova Cotacao</a>
{% endblock content %}
