{% extends 'despachos/base.html' %}
{% block content %}
<h4>    <a href="{% url 'despachos:despacho_processo_new' %}" class="top-menu">Cadastrar Novo Despacho</a>
</h4>
<table class="responsive-table striped">
   <thead>
     <tr>
         <th data-field="processo">Processo</th>
         <th data-field="servidor">Solicitante</th>
         <th data-field="projeto">Projeto</th>
         <th data-field="data">Data</th>

         <th data-field="acoes">Ações</th>

     </tr>
   </thead>
   <tbody>
    {% for u in ds %}
      <tr>
         <td>{{u.processo}}</td>
         <td>{{u.solicitante}}</td>
         <td>{{u.projeto}}</td>
         <td>{{u.data_despacho}}</td>
         <td>
           <a href="{% url 'despachos:despacho_processo_edit' pk=u.pk %}"> <i class="small material-icons">mode_edit</i> </a>
           <a href="{% url 'despachos:despacho_processo_delete' pk=u.pk %}"> <i class="small material-icons">delete</i> </a>
           <a href="{% url 'despachos:despacho_processo_print' pk=u.pk %}"> <i class="small material-icons">print</i> </a>
         </td>

         </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if ds.has_previous %}
            <a href="?page={{ ds.previous_page_number }}"> << </a>
        {% endif %}

        <span class="current">
            Página {{ ds.number }} de {{ ds.paginator.num_pages }}.
        </span>

        {% if ds.has_next %}
            <a href="?page={{ ds.next_page_number }}"> >> </a>
        {% endif %}
    </span>
</div>

{% endblock content %}
