{% load staticfiles %}
<html>
<head>
  <!--Import materialize.css-->
  <link href="{% static 'css/despacho.css' %}" rel="stylesheet" type="text/css"/>
  <title> Despacho Processo {{d.processo}} </title>
</head>
<body>
  <div class='logo'>

  </div>
  <div class="citalico">
    Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte     </div>

    <div class="citalico">     Campus Caicó    </div>

      <div class="citalico">        Coordenação de Pesquisa e Inovação

      </div>

<div class="despacho">
<p>  DESPACHO</p>
    Documento de Referência: Processo nº <b> {{d.processo}} </b>, de {{d.data_processo}}.

</div>

<div class="texto">
  Á DG:
</div>

<div class="texto">

<p>Recebidos os autos do processo identificado acima, do servidor <b>{{d.solicitante.nome}}</b>, encaminhado a esta Coordenação de Pesquisa, que trata da solicitação de pagamento de bolsa a
  servidor e/ou aluno bolsista, membro(s) de Projeto de Pesquisa, intitulado  <i><b> {{d.projeto.projeto}}</b></i>, contemplados com bolsa dentro do Programa de Apoio Institucional à Pesquisa, conforme seleção realizada segundo critérios constantes no Edital nº  <b>{{d.edital.numero}}/{{d.edital.ano}}–{{d.edital.setor}}/IFRN </b>, verificou-se que, no período de  <b>{{d.periodo_bolsa_inicio}} a {{d.periodo_bolsa_fim}}  </b>
   a carga horária do(s) bolsista(s) foi cumprida em conformidade com o estabelecido no referido Edital, bem como o relatório de atividades registrado no SUAP está satisfatório, o qual segue anexo para apreciação.
Solicitamos, portanto, que após análise, seja encaminhado COFINC/CA para providências.</p>
<p> Seguem abaixo os dados para pagamento:</p>

</div>
<div>
  <table>
    {% for u in bolsistas %}
      <tr>
        <td colspan="2"> Nome: {{u.nome}}</td>
        <td colspan="2"> CPF: {{u.cpf}} </td>
      </tr>
      <tr>
        <td> Banco: {{u.banco}}</td>
        <td> Agencia: {{u.agencia}} </td>
        <td> Conta: {{u.conta}}
            {% if u.operacao != "0" %}
              OP({{u.operacao}})
            {% endif %}
        </td>
        <td> Valor: R$ {{u.valor}},00 </td>

      </tr>
    {% endfor %}
  </table>
</div>


<div class="despacho">
<p>  Caicó,{{d.data_despacho}} </p>


</div>
    </body>
    </html>
