{% extends 'despachos/base.html' %}

{% block content %}
    <h1>LOGIN</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Login</button>
        <button type="reset" class="save btn btn-default">Reset</button>

    </form>
{% endblock %}
