{% extends 'despachos/base.html' %}
{% block content %}
<h4> Orçamentos</h4>
<table class="responsive-table striped">
   <thead>
     <tr>
         <th>Ano</th>
         <th>Semestre</th>
         <th>Orçamento</th>
         <th>Período do Planejamento</th>
      
         <th> </th>



     </tr>
   </thead>
   <tbody>
    {% for u in pss %}
      <tr>
         <td>{{u.ano}}</td>
         <td>{{u.semestre}}</td>
         <td>{{u.orcamento}}</td>
         <td>{{u.inicio}} até {{u.fim}}</td>
         <td></td>
   </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if despachos.has_previous %}
            <a href="?page={{ despachos.previous_page_number }}"> << </a>


        <span class="current">
            Página {{ despachos.number }} de {{ despachos.paginator.num_pages }}.
        </span>
        {% endif %}
        {% if despachos.has_next %}
            <a href="?page={{ despachos.next_page_number }}"> >> </a>
        {% endif %}
    </span>
</div>

<a href="{% url 'despachos:orcamento_new' %}" class="top-menu">Cadastrar novo orçamento</a>

{% endblock content %}
