{% extends 'despachos/base.html' %}
{% block content %}
</h4>
<table class="responsive-table striped">
   <thead>
     <tr>
         <th data-field="processo">Processo</th>
         <th data-field="servidor">Solicitante</th>
         <th data-field="projeto">Projeto</th>
         <th data-field="data">Data do Despacho</th>
         <th data-field="periodo">Período</th>


     </tr>
   </thead>
   <tbody>
    {% for u in despachos %}
      <tr>
         <td>{{u.processo}}</td>
         <td>{{u.solicitante}}</td>
         <td>{{u.projeto}}</td>
         <td>{{u.data_despacho}}</td>
         <td>{{u.periodo_bolsa_inicio}} a {{u.periodo_bolsa_fim}}</td>



         </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if despachos.has_previous %}
            <a href="?page={{ despachos.previous_page_number }}"> << </a>
        {% endif %}

        <span class="current">
            Página {{ despachos.number }} de {{ despachos.paginator.num_pages }}.
        </span>

        {% if despachos.has_next %}
            <a href="?page={{ despachos.next_page_number }}"> >> </a>
        {% endif %}
    </span>
</div>

{% endblock content %}
