{% extends 'despachos/base.html' %}
{% block content %}
<h4> Planejamento de Diárias e Passagens </h4>
<table class="responsive-table striped">
   <thead>
     <tr>
         <td>Prioridade</td>
         <td>Servidor</td>
         <td>Nome do Evento</td>
         <td>Data do Evento</td>

         <td>Custo</td>
         <td>Pontuação</td>

         <td>Selecionado</td>
         <td> </td>



     </tr>
   </thead>
   <tbody>
    {% for u in planejamentos %}
      <tr>
         <td>{{u.prioridade_evento}}</td>
         <td>{{request.user.username}}</td>
         <td>{{u.nome_evento}}</td>
         <td>{{u.data_inicio_evento}} até {{u.data_fim_evento}}</td>
         <td>{{u.custo}}</td>
         <td>{{u.total}}</td>

         <td>{{u.selecionado}}</td>
         <td>

           <!-- Modal Trigger -->
 <a class="waves-effect waves-light btn modal-trigger" href="#modal{{u.id}}">Detalhamento</a>

 <!-- Modal Structure -->
 <div id="modal{{u.id}}" class="modal">
   <div class="modal-content">
     <h4>Detalhamento</h4>
     <table class="striped">
       <thead>
         <tr>
            <th>Eventos</th>
            <th>{{u.nome_evento}}</th>
         </tr>
       </thead>
       <tbody>
         <tr>
            <td>Prioridade</td>
            <td>{{u.prioridade_evento}}</td>
         </tr>
         <tr>
            <td>Justificativa</td>
            <td>{{u.justificativa_eventos}}</td>
         </tr>
         <tr>
            <td>Servidor está estudando?</td>
            <td>{{u.nestudando}}</td>
         </tr>
         <tr>
            <td>Servidor possui projetos de pesquisa ou extensão?</td>
            <td>{{u.nprojetos}}</td>
         </tr>
         <tr>
            <td>O evento é relevante para sua área de atuação?</td>
            <td>{{u.nrelevancia}}</td>
         </tr>
         <tr>
            <td>Titulação do servidor?</td>
            <td>{{u.ntitulacao}}</td>
         </tr>
         <tr>
            <td>Data do evento?</td>
            <td>{{u.data_inicio_evento}} a {{u.data_fim_evento}}</td>
         </tr>

         <tr>
            <td>Tipo de evento</td>
            <td>{{u.ntipo_evento_capacitacao}}</td>
         </tr>

         <tr>
            <td>Local do evento</td>
            <td>{{u.nlocal_evento}}</td>
         </tr>
         <tr>
            <td>Pontuação</td>
            <td>{{u.total}}</td>
         </tr>
         <tr>
            <td>Custo</td>
            <td>{{u.custo}}</td>
         </tr>
       </tbody>
     </table>

    </div>
   <div class="modal-footer">
     <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Fechar</a>
   </div>
 </div>
         </td>


         </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if despachos.has_previous %}
            <a href="?page={{ despachos.previous_page_number }}"> << </a>


        <span class="current">
            Página {{ despachos.number }} de {{ despachos.paginator.num_pages }}.
        </span>
        {% endif %}
        {% if despachos.has_next %}
            <a href="?page={{ despachos.next_page_number }}"> >> </a>
        {% endif %}
    </span>
</div>

<a href="{% url 'despachos:planejamento_new' %}" class="top-menu">Cadastrar novo orçamento</a>

{% endblock content %}
