{% extends 'despachos/base.html' %}
{% block content %}
<table class="responsive-table striped">
   <thead>
     <tr>
         <th data-field="siape">Coordenador</th>
         <th data-field="nome">Projeto</th>
         <th data-field="inicio">Data de Início</th>
         <th data-field="fim">Data de Fim</th>

         <th data-field="acoes">Ações</th>

     </tr>
   </thead>
   <tbody>
    {% for u in projetos %}
      <tr>
         <td>{{u.coordenador}}</td>
         <td>{{u.projeto}}</td>
         <td>{{u.data_inicio}}</td>
         <td>{{u.data_fim}}</td>
         <td>  <a href="{% url 'despachos:pagamentos' projeto=u.pk %}" class="top-menu">Pagamentos</a>
            <a href="{% url 'despachos:projeto_edit' pk=u.pk %}" class="top-menu">Editar</a>

         </td>

         </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if projetos.has_previous %}
            <a href="?page={{ projetos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ projetos.number }} of {{ projetos.paginator.num_pages }}.
        </span>

        {% if projetos.has_next %}
            <a href="?page={{ projetos.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    <a href="{% url 'despachos:projeto_new' %}" class="top-menu">Cadastrar novo Projeto</a>
{% endblock content %}
