{% extends 'despachos/base.html' %}
{% block content %}
<table class="responsive-table striped">
   <thead>
     <tr>
         <th data-field="siape">Siape</th>
         <th data-field="nome">Nome</th>
         <th data-field="email">E-mail</th>
         <th data-field="email">Ações</th>

     </tr>
   </thead>
   <tbody>
    {% for u in servidores %}
      <tr>
         <td>{{u.siape}}</td>
         <td>{{u.nome}}</td>
         <td>{{u.email}}</td>
         <td>
           <a href="{% url 'despachos:servidor_edit' pk=u.siape %}" class="top-menu">Editar</a>

         </td>

         </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if servidores.has_previous %}
            <a href="?page={{ servidores.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ servidores.number }} of {{ servidores.paginator.num_pages }}.
        </span>

        {% if servidores.has_next %}
            <a href="?page={{ servidores.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    <a href="{% url 'despachos:servidor_new' %}" class="top-menu">Cadastrar novo Servidor</a>
{% endblock content %}
